<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/app.css">
  <title>TODOAPP</title>
</head>

<body>
  <!-- socket.io cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <%- include('nav.html') %>

    <h4 class="ml-2 my-3"><strong>채팅방</strong></h4>
    <div class="container p-4 detail">
      <div id="content"></div>
      <input type="text" id="text">
      <button id="send">서버에 메세지 보내기(단체)</button>
      <button id="join">채팅방1 입장</button>
      <input type="text" id="room1-text">
      <button id="join-send">채팅방1 메세지보내기</button>
      <script>
        var socket = io();

        $('#join').click(function () {
          socket.emit('join', '채팅방입장');
        });

        $('#join-send').click(function () {
          socket.emit('room1-send', $('#room1-text').val());
        });

        $('#send').click(function () {
          socket.emit('user-send', $('#text').val());
        });

        socket.on('broadcast', function (data) {
          $('#content').append('<div>' + data + '</div>');
        });
      </script>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>

    <script>
      //채팅방 선택
      let chatroom;
      let eventSource;
      $('.list-group-item').click(function () {
        $(this).parent().children('li').css('background-color', '#fff');
        $(this).css('background-color', '#eee');
        chatroom = $(this).attr('data-id');

        // html 비워주기
        $('.chat-content').html('');

        if (eventSource != undefined) {
          eventSource.close();
        }

        //실시간 데이터 수신
        eventSource = new EventSource('/message/' + chatroom);
        eventSource.addEventListener('chat', function (e) {
          let writer = $('.chat-content').attr('data-user');
          let chat = (JSON.parse(e.data));
          chat.forEach((i) => {
            $('.chat-content')
              .append(`<li><span class="chat-box ${i.user == writer ? 'mine' : ''}">` + i.content + '</span></li>');
            console.log('마인' + writer + '글쓴이' + i.user);
          });
        });
      });
      //채팅 전송
      $('#send').click(function () {
        let cont = $('#chat-input').val();
        let chat = {
          post: chatroom,
          content: cont,
        }
        $.post('/message', chat).then(() => {
          console.log('전송성공');
        })
        $('#chat-input').val('');
      });

    </script>
</body>

</html>